<% if notice || alert %>
<div class="row">
  <div class="alert alert-dismissible alert-<%=notice ? 'success' : 'danger'%> col-lg-12">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= notice || alert %>
  </div>
</div>
<% end %>


<div class="container">
  <%= render partial: "search_form" %>
</div>
<div class="container">
  <%#= render 'videos' %>
</div>

<script>
  $('#from-date').datetimepicker({
    format: 'DD/MM/YYYY'
  });
  $('#to-date').datetimepicker({
    format: 'DD/MM/YYYY'
  });
  $(document).ready(function(){
    $("#advance-search-btn").on('click',function(e){
      e.preventDefault();
      $('.tag-search-block').removeClass('search-active');
      $('.tag-search-block').addClass('search-inactive');
      $('.advance-search-block').addClass('search-active');
      $("#advance-search-btn").addClass('acor-tab-btn');
      $("#advance-search-btn").removeClass('acor-tab-btn2');
      $("#tag-search-btn").removeClass("acor-tab-btn");
      $("#tag-search-btn").addClass("acor-tab-btn2");
    });
    $("#tag-search-btn").on('click',function(e){
      e.preventDefault();
      $("#tag-search-btn").addClass("acor-tab-btn");
      $("#tag-search-btn").removeClass("acor-tab-btn2");
      $("#advance-search-btn").addClass('acor-tab-btn2');
      $("#advance-search-btn").removeClass("acor-tab-btn");
      $('.tag-search-block').addClass('search-active');
      $('.advance-search-block').addClass('search-inactive');
      $('.advance-search-block').removeClass('search-active');
    });
  });
</script>