<div class="modal fade col-lg-12" id="even_modal" tabindex="-1" role="dialog" 
  aria-labelledby="upload_title" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <div class="event-name"></div>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<%# @event_days.each do |event_day| %>
<%#=event_day.event.title%>
<%#=event_day.date%>
<%#=event_day.start_time%>
<%#=event_day.end_time%>
<%#end%>

</div>
</div>
</div>