<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Most Recent Video</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
    <% videos.limit(3).each do |video| %>
      <li style="border: 0" class="list-group-item">
        <%= video.event_day.date.strftime("%B %d, %Y") if video.event_day.present? %> : <%= link_to video.title, video.youtube_url, target: "_blank" %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Most Recent Transcript of Candidate</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <% count = 0 %>
      <% present_transcript.each do |video| %>
        <% count = +1 %>
        <% break if count >=3 %>
        <li style="border: 0" class="list-group-item">
          <%= video.date.strftime("%B %d, %Y") %> : <%= link_to video.transcript, video.youtube_url, target: "_blank" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
